#menu-scroll {
    background-color: rgba(156, 247, 139, 0.06);
    color: #f2f7ff;
    border-bottom: 1px solid rgba(0, 0, 0, 0.08);
    font-size: 13px;
    font-family: "Courier New", Times, serif;
}